/* loading */
.page-loading {
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Fira Sans","Droid Sans","Helvetica Neue",sans-serif;
    font-size: 100%;
    margin: 0;
    text-align: center;
    }
    .page-loading h1 {
    color: #03ADBC;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.05em;
    margin: 40px auto;
    width: 17ch;
    overflow: hidden;
    white-space: nowrap;
    }
    .page-loading * {
    box-sizing: border-box;
    }
    .page-loading .wrapper {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-top: calc(50vh - 90px);
    margin-left: calc(50vw - 25px);
    background-color: aquamarine;
    animation: fade 1.5s ease-in-out infinite;
    position: relative;
    }
    .page-loading .circle {
    position: absolute;
    border-radius: 50%;
    border: 1px #ccc solid;
    float: left;
    height: 40px;
    width: 40px;
    margin: 0 40px;
    }
    .page-loading .circle-1 {
    animation: move 3s ease-in-out infinite;
    }
    /* .page-loading .circle-2 {
    animation: move2 1s ease-in-out infinite;
    } */
    /* .page-loading .circle-3 {
    animation: move3 1s ease-in-out infinite;
    }
    .page-loading .circle-4 {
    animation: move4 1s ease-in-out infinite;
    } */
    @keyframes move {
    0% {transform: translate(0,0);}
    50% {transform: translate(-80px,0);}
    100% {transform: translate(0,0);}
    }
    @keyframes fade {
    0% {filter: hue-rotate(0deg)}
    10% {filter: hue-rotate(10deg)}
    20% {filter: hue-rotate(20deg)}
    30% {filter: hue-rotate(30deg)}
    40% {filter: hue-rotate(40deg)}
    50% {filter: hue-rotate(100deg)}
    60% {filter: hue-rotate(40deg)}
    70% {filter: hue-rotate(30deg)}
    80% {filter: hue-rotate(20deg)}
    90% {filter: hue-rotate(10deg)}
    100% {filter: hue-rotate(0deg)}
    }