/* .ant-table-thead > tr > th, .ant-table-tbody > tr > td {
    padding: 8px 8px;
} */

.loginbg {
    display: flex;
    justify-content: space-around;
    min-width: calc(100vw - 32px);
    min-height: 90vh;
    background-repeat: no-repeat;
    background-size: 100%;
    background-image: url('./loc/image/beijing.jpg');
}