
html, body, :global(#root) {
  height: 100%;
  width:100%;
  height:100%;
  margin:0;
  padding:0;
  background-color: #f7f8f9;
}


.kwo-table .ant-table-body{
  overflow-x: auto !important;
}

.kwo-table table {
    table-layout: fixed;
  }

  .text-ellipsis {
    width: 100%;
    vertical-align: baseline !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    word-break: break-all;
  }

  .message {
    width: 50px;
    height: 50px;
    border: none;
    background-color: #FFF;
    border-radius: 50px;
  }